/*  your css code here. If applicable */
.container {
            width: 350px;
			height: 100px;
            padding: 20px;
            border-radius: 15px;
            border: 2px solid black;
            display: flex;
            justify-content: space-around; 
            align-items: center;
            background-color: lightgray;
            margin: 50px auto; 
        }

.green{
	background-color:green;
	width:80px;
	height:80px;
	border-radius:50%;
}

.yellow{
	background-color:yellow;
	width:80px;
	height:80px;
	border-radius:50%;
}

.red{
	background-color:red;
	width:80px;
	height:80px;
	border-radius:50%;
}